@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>Rifky Mohamed</h2>

    <h3>Practice Project</h3>

<h4> After creating the sub branch</h4>

<h5> Try the push request to development branch</h5>

<h6> Added new line to master brnach</h6>
</div>
